html, body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

section.landing {
	position: relative;
	overflow: hidden;
	width: inherit;
	height: inherit;
    background-color: #F9CFD6;
}

div.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

div.video-bg video {
    position: absolute;
    min-width: auto;
    min-height: 100%;
    width: auto;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.landing-inner {
    position: relative;
    height: 100vh;
    width: 100vw;
    text-align: center;
	visibility: hidden;
}

div.landing-inner img {
	width: inherit;
	height: auto;
}

div.landing-inner a {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}

a#spotify {
	width: 18.6vw;
	top: 35.5vh;
	margin-left: 40.7vw;
	margin-right: 40.7vw;
}

img#emily-name {
	position: absolute;
	width: 60vw;
	top: 15.4vh;
	display: block;
	margin-left: 20vw;
	margin-right: 20vw;
}

a#apple-music {
	width: 29.3vw;
	top: 49.4vh;
	margin-left: 35.35vw;
	margin-right: 35.35vw;
}

a#twitter {
	width: 19.4vw;
	top: 63.3vh;
	margin-left: 40.3vw;
	margin-right: 40.3vw;
}

a#instagram {
	width: 27.2vw;
	top: 77.2vh;
	margin-left: 36.4vw;
	margin-right: 36.4vw;
}
