html, body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

section.landing {
	position: relative;
	overflow: hidden;
	width: inherit;
	height: inherit;
  background-color: #000;
}

div.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

div.video-bg video {
  position: absolute;
  width: 100vw;
  min-width: 130vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.landing-inner {
    position: relative;
    height: 100vh;
    width: 100vw;
    text-align: center;
    visibility: hidden;
}

div.landing-inner img {
	width: inherit;
	height: auto;
}

div.landing-inner a {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}

/*TODO: Mobile sizing 70vw*/
/*img#emily-name {
  position: absolute;
  width: 50vw;
  height: auto;
  top: 48vh;
  display: block;
  margin: auto 25vw;
  animation-name: glitch;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../content/images/video-inner.png) no-repeat;
  background-size: cover;
}*/
img#emily-name {
  position: relative;
  top: 48vh;
  width: 50vw;
  height: 2.83vw;
  box-sizing: border-box;
  padding-left: 50vw;
  background: url(../content/images/name.png);
  background-size: 50vw;
  background-repeat: no-repeat;
}

img#emily-name:hover {
  animation-name: glitch-name;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.glitch-out {
  animation-name: glitch-out;
  animation-duration: 0.5s;
}

.glitch-in {
  animation-name: glitch-in;
  animation-duration: 0.5s;
}

@keyframes glitch-name {
  0%    {background: url(../content/images/name.png); background-size: 50vw;}
  8%    {background: url(../content/images/name/f1.png); background-size: 50vw;}
  24%   {background: url(../content/images/name/f2.png); background-size: 50vw;}
  36%   {background: url(../content/images/name/f3.png); background-size: 50vw;}
  50%   {background: url(../content/images/name/f4.png); background-size: 50vw;}
  60%   {background: url(../content/images/name/f5.png); background-size: 50vw;}
  78%   {background: url(../content/images/name/f6.png); background-size: 50vw;}
  83%   {background: url(../content/images/name/f7.png); background-size: 50vw;}
  100%  {background: url(../content/images/name/f8.png); background-size: 50vw;}
}
@keyframes glitch-out {
  0%    {background: url(../content/images/name/f1.png); background-size: 50vw;}
  24%   {background: url(../content/images/name/f2.png); background-size: 50vw;}
  67%   {background: url(../content/images/name/f3.png); background-size: 50vw;}
  100%  {background: url(../content/images/name/f4.png); background-size: 50vw;}
}

@keyframes glitch-in {
  0%    {background: url(../content/images/name/f5.png); background-size: 50vw;}
  33%   {background: url(../content/images/name/f6.png); background-size: 50vw;}
  76%   {background: url(../content/images/name/f7.png); background-size: 50vw;}
  100%  {background: url(../content/images/name/f8.png); background-size: 50vw;}
}

a#spotify {
	width: 18.6vw;
	top: 35.5vh;
	margin: auto 40.7vw;
}

a#apple-music {
  width: 29.3vw;
  top: 49.4vh;
  margin: auto 35.35vw;
}

a#twitter {
  width: 19.4vw;
  top: 63.3vh;
  margin: auto 40.3vw;
}

a#instagram {
  width: 27.2vw;
  top: 77.2vh;
  margin: auto 36.4vw;
}

