video { display: block; }

video#bg-video { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(content/video/poster.png) no-repeat;
	background-size: cover; 
}

@media screen and (max-device-width: 800px) {
	html { background: #000 no-repeat center center fixed; }
	#bg-video { display: none; }
}
